<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0 ">
                <img src="./img/logo.png" style="width:10%">

              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true"> 
                  Explore
                </a>
                <ul class="dropdown-menu " style="max-width:10px">
                  <li><a class="dropdown-item" href="/games">Games</a></li>
                  <li><a class="dropdown-item" href="#">Sports</a></li>
                  <li><a class="dropdown-item" href="#">Teams</a></li>
                  <li><a class="dropdown-item" href="#">Players</a></li>
                  
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" > <img src="./img/defaultUserIcon.png" style="width:4%">
                  
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/messages">Messages</a></li>
                  <li><a action="/logout" method="POST" href="/logout" class="dropdown-item" >Log out</a></li>

                  
                </ul>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
</header>