    <form action="/register" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name= "username" id = "username" aria-describedby="userHelp"
                    placeholder="Username" required>
        </div>
  
          









        <div class="input-group mb-3">
            <input type="password" class="form-control" name= "password" id = "password" aria-describedby="userHelp"
            placeholder="Password" required>
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" name= "password" id = "confirmPassword" aria-describedby="userHelp"
            placeholder="Confirm Password" required>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Class</label>
            <select class="form-select" id="inputGroupSelect01" required>
                <option selected disabled value=""></option>
                <option value="freshman">Freshman</option>
                <option value="sophomore">Sophomore</option>
                <option value="junior">Junior</option>
                <option value="senior">Senior</option>
                <option value="other">Other</option>
            </select>
        </div>


        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Profile Photo</label>
          <input type="file" accept=".jpg,.gif,.png" class="form-control" id="inputGroupFile01">
        </div>
        </form>
        