<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>






<main>
    <div class="container text-center ">
        <h1 style="padding-top:2vh; padding-bottom:2vh">All upcoming games</h1>
        <h5 style="padding-bottom:2vh; color:#1e90ff"> Click a bubble to view the game details, or <a href="/games">click here</a>
            to view only your games</h3>
           
        <!-- <table class="table"> -->
            <!-- <tbody> -->
                <% var n = 1 %>

                <% games.forEach(function(game){ %>

                <!-- <tr>
                    <td> -->

                          <!-- <button class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff;"> -->
                            <!-- <a href="/game" class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff"> -->
                                <form action="/game" method="GET" style="padding-bottom:1vh">
                                    <div class="input-group mb-3">
                                        <input type="hidden" class="form-control" name="gameid" id="gameid" value="<%= game.gameid%>">
                                      </div>
                                    <button class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff" type=""> &nbsp;&nbsp;&nbsp;
                                    </button>

                                </form>



                            <% n++ %>

                            
                        <!-- </button> -->
                    </a>

                            
                        
                    <!-- </td> -->




                <!-- </tr> -->
                <% }); %>

               

                
                
                
          
               
        
            <!-- </tbody>
        </table> -->
    </div>
</main>

<%- include ('../partials/footer') %>
