<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container text-center">
        <%- include ('../partials/message') %>
        <h1 style="padding-top:2vh">Change Password</h1>

        
        <form action="/change_password" method="POST">
            <div style="width:30vh;padding-top: 5vh;" class="mx-auto">
            
                <input placeholder="Current Password" type="password" class="form-control" name="currentPassword" required><br>
    
                <input  placeholder="New password" type="password" class="form-control" name="newPassword" required> <br>

                <input  placeholder="Confirm new password" type="password" class="form-control" name="confirmNewPassword" required> <br>
                </div>



                <button class="btn rounded-pill" style="background-color:#ffe5ec;color:#fb6f92">Change password</button>
                </form>
    
                



    </div>
</main>

<%- include ('../partials/footer') %>