<%- include ('../partials/header') %>
<main>
    <div class="container">
        <div class="text-center" style="padding-top:10vh;">

<h1> Forgot Password</h1>
<%- include ('../partials/message') %>


<div class=" mx-auto" style="width:24.5vw;padding-top: 2vh;padding-bottom:65vh;">

<form action="/forgotPassword" method="POST">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="email" id="email" placeholder="Enter the email associated with your account" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required>
      </div>
      
      <button type="submit" class="btn rounded-pill" style="background-color:#e8fcec; color:#17d475">Send Code</button>

      </form>
      </div>
</div>
        </div>
        </main>


<%- include ('../partials/footer') %>