<%- include ('../partials/header') %>

<main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <div class="text-center">
            <img  src="./img/logo.png" style="width:25%; padding-top: 10vh; padding-bottom: 2vh;">
            <h4> The better way to <span style="color:#1e90ff;">explore</span>, <span style="color:#1e90ff;">join</span>, and <span style="color:#1e90ff;">manage</span> your recreational teams</h2>
            <h5> <span style="color:#1e90ff;">Fast</span>, <span style="color:#1e90ff;">simple</span>, <span style="color:#1e90ff;">intuitive</span>, and best of all... <span style="color:#1e90ff;"><i> ad-free</i></span> (unlike imleagues.com)</h3>
            <div style="padding-top:2vh">
                <a href="/login" class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff" role="button" aria-pressed="true">Go</a>
            </div>






        </div>
<div class="text-center" style="padding-top:50vh">
        <button type="button" class="btn rounded-pill" style="background-color:#dedee3; color:#9c9cac;" data-bs-toggle="modal" data-bs-target="#exampleModal">About</button>

    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body text-center">
                <h3> About</h3>
                <p> IMProved was created by </p>

                
                    <a href="#" class="btn rounded-pill mb-3" style="background-color:#1e90ff; color:#ffffff;" role="button" >Theo Bragstad</a>
                    <a href="#" class="btn rounded-pill mb-3" style="background-color:#1e90ff; color:#ffffff" role="button" >Zach Chen</a>
                    <a href="#" class="btn rounded-pill mb-3" style="background-color:#1e90ff; color:#ffffff" role="button" >Leo Kamgar</a>
                    <a href="#" class="btn rounded-pill mb-3" style="background-color:#1e90ff; color:#ffffff" role="button" >Jacob Friedman</a>
                    <a href="#" class="btn rounded-pill mb-3" style="background-color:#1e90ff; color:#ffffff" role="button" >Jaxon Paulsen</a>


                <p> for CSCI 3308 at CU Boulder in Fall 2022.</p>
                <p> Our goal with IMProved was to build a website that enables people to spend less time on a website and more time playing the sports they love.</p>
                <p> We hope this is true and that you enjoy using it!</p>
            </div>
            
          </div>
        </div>
      </div>
        
    </main>
    





    </div>
</main>

<%- include ('../partials/footer') %>